<!DOCTYPE html>
<html>
    <head>
        <title>133t sp3ak</title>
    </head>
    <body>
        <h1>133t sp3ak</h1>
      <form action="/leet" method="post">
        <input type="text" name="word" placeholder="Type Word Here">
        <button type="submit" name="button">Submit</button>
      </form>
    </body>
</html>
